﻿@model SongRecommendationSite.Models.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Song Recommender";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<div class="jumbotron">
    <h1>Song Recommender</h1>
    <p class="lead">A simple song recommendation tool, recommending songs based on your preferences.</p>
</div>

<div class="col-lg-12">
    <div class="col-md-6">
        <h2>Song preferences</h2>
        <p>Here are some questions to help find you the perfect song.</p>
        @using (Ajax.BeginForm("GetRecommendation", "Recommendation", null, new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "recommendation"
        }, new { id = "Prefrences" }))
        {
            @Html.AntiForgeryToken()
            @Html.LabelFor(x => x.Data.Artist, "Band: ")
            <br />
            @Html.EditorFor(x => x.Data.Artist, new { style = "width:250px;" })<br />
            @Html.LabelFor(x => x.Data.Title, "Song: ")<br />
            @Html.EditorFor(x => x.Data.Title, new { style = "width:250px;" })<br />
            @Html.LabelFor(x => x.Data.Style, "Style: ")<br />
            @Html.DropDownListFor(x => x.Data.Style, Model.Styles, new { style = "width:250px;" })<br />
            @Html.LabelFor(x => x.Data.Mood, "Mood: ")<br />
            @Html.DropDownListFor(x => x.Data.Mood, Model.Moods, new { style = "width:250px;" })<br /><br />
            <input type="submit" class="btn btn-default" value="Find my song" />
        }
    </div>
    <div class="col-md-6" id="recommendation">
        <h2>How to use</h2>
        <p>To use the recommendation service please fill out your desired song specifications in the preferences form.</p>
        <p>You can either serach by entering a band or/and a song title, or you can serach by selecting a style and/or mode.</p>
        <p>When your ready just hit the submit button and let us do the heavy lifting.</p>
    </div>
</div>