﻿@{
    @model SongRecommendationSite.Models.ViewModels.RecommendationViewModel
    Layout = "";
}
<div id="recommendation" class="col-md-6">
    @if (!string.IsNullOrWhiteSpace(Model.Artist) && !string.IsNullOrWhiteSpace(Model.Title))
    {
        <h2>This is your recommendation</h2>
            <p>
                <b>Artist:</b> @Model.Artist
                <br />
                <b>Title:</b> @Model.Title
            </p>
    }
    else
    {
        <h2>Could not find a recommendation</h2>
        <p>
            For some reason we where not able to find you a recommendation. Try changing you preferences and then try again.
        </p>
    }
</div>
